/function array.exe
/function array.o
/function- 3.exe
/function- 3.o
/function-1.exe
/function-1.o
/function-2.exe
/function-2.o
/pointer-1.exe
/pointer-1.o
/pointer-2.exe
/pointer-2.o
/pointer-3.exe
/pointer-3.o
/pointer-4.exe
/pointer-4.o
/pointer-5.o
pointer-6.o
pointer-5.exe
pointer swap with function.exe
pointer swap with function.o
pointer array.exe
pointer array.o
.vscode/tasks.json
